{# -- Partial Variables -- #}
{# ----------------------------------------------------------------- #}

{% set this = {
    sidebar: params.widgets
} %}

{# -- Partial Template -- #}
{# ----------------------------------------------------------------- #}

{# <pre>
    {{ dump('globalSidebar.twig') }}
    {{ dump(globalSidebar) }}
    {{ dump('dynamic_sidebar.twig') }}
    {{ dump(dynamic_sidebar) }}
</pre> #}

<aside class="o-sidebar">
    <h2 class="u-screen-reader-text">Sidebar Navigation</h2>
    {# {{ this.sidebar }} #}
    {{ globalSidebar }}
</aside>
