<footer class="o-site__footer">
	<h2 class="u-invisible">Footer Info</h2>
	<div class="c-footer">

		<div class="c-footer__logo c-footer--col">
			<a href="{{ site.link }}" id="logo" class="c-media--link">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101.05 207.75" class="c-media__svg">
					<title>Logo</title>
					<g id="frame" data-name="Main layer">
						<g id="design">
							<path d="M54.59,0S58,9,0,64.74v96.09s0,28.87,46.47,46.92c0,0-3.39-9,54.58-64.74V46.92S101.05,18.05,54.59,0ZM67.37,171.24c-33.69-8.68-33.69-32.6-33.69-32.6V36.69c33.69,8.68,33.69,32.6,33.69,32.6Z" />
						</g>
					</g>
				</svg>
			</a>
		</div>

		<div class="c-footer__legal c-footer--col" role="contentinfo">
			{{ globals.footer_details }}
			<figure class="c-media--macintosh">
				<img src="{{ site.theme.link }}/assets/img/macspin.gif" alt="Made With Macintosh" class="c-media__image">
			</figure>
		</div>

		<div class="c-footer__nav c-footer--col">
			<h3>Pages of Interest</h3>
			<ul class="c-wysiwyg">
				{% for item in footer.items %}
				<li>
					<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
					{% if item.children %}
					<ul class="nav-drop">
						{% for child in item.children %}
						<li class="nav-drop-item">
							<a href="{{ child.link }}">{{ child.title }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="c-footer__about c-footer--col">
			<h3>About Thy Website</h3>
			<div class="c-wysiwyg">
				{{ globals.site_about }}
			</div>
		</div>

		<div class="c-footer__awards c-footer--col">
			<h3>Humblebrags</h3>
			<ul>
				<li>{% include 'components/css-nectar-award.twig' %}</li>
				<li>{% include 'components/css-design-award.twig' %}</li>
			</ul>
		</div>

		{# <a class="c-button top" href="#page" id="scroll_to_top">Back to Top</a> #}

		<div class="c-footer__travel c-footer--col">
			<h3>Flags I've Collected</h3>
			<ul>
				{% for flag in globals.footer_flags %}
					<li>
						{% if flag.country_link is not empty %}
							<a href="{{ flag.country_link }}" title="{{ flag.country }}" class="c-media--link">{{ flag.flag }}</a>

						{% else %}
							<span title="{{ flag.country }}">{{ flag.flag }}</span>

						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

	</div>
</footer>
