<footer class="site__footer">

	<div class="_column -projects">
		<h3>Pages of Interest</h3>
		<ul class="-getFaded">
			{% for item in footer.items %}
			<li>
				<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
				<ul class="nav-drop">
					{% for child in item.children %}
					<li class="nav-drop-item">
						<a href="{{ child.link }}">{{ child.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="_column -about">
		<h3>About Thy Website</h3>
		<div class="-getFaded">
			{{ globals.site_about }}
		</div>
	</div>

	<div class="_column -socialMedia">
		<a class="top btn" href="#page" id="scroll_to_top">Back to Top</a>
		<ul class="-icons -getFaded">
			<li>
				<a target="_blank" rel="noopener" href="//dribbble.com/OneMohrTime" title="Dribbble" aria-label="Dribbble">
					{% include '/assets/media/icons/logo-dribbble.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" rel="noopener" href="//instagram.com/onemohrtimedesign" title="Instagram" aria-label="Instagram">
					{% include '/assets/media/icons/logo-instagram.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" rel="noopener" href="//github.com/onemohrtime" title="GitHub" aria-label="GitHub">
					{% include '/assets/media/icons/logo-github.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" rel="noopener" href="//twitter.com/OneMohrTime" title="Twitter" aria-label="Twitter">
					{% include '/assets/media/icons/logo-twitter.svg' %}
				</a>
			</li>
		</ul>
		{% include 'components/css-nectar-award.twig' %}
		{% include 'components/css-design-award.twig' %}
	</div>

	<div class="copyright" role="contentinfo">
		<p>&copy;2011&thinsp;&mdash;&thinsp;{{ now | date('Y') }} | Powered by <a href="//wordpress.org" target="_blank" rel="noopener">WordPress</a> + <a href="//www.upstatement.com/timber/" target="_blank" rel="noopener">Timber</a> | <a href="//instagram.com/onemohrtimedesign" target="_blank" rel="noopener">@OneMohrTimeDesign</a></p>
	</div>

</footer>
