<footer class="o-site__footer">

	<div class="_column -projects">
		<h3>Pages of Interest</h3>
		<ul class="u-get-faded">
			{% for item in footer.items %}
			<li>
				<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
				<ul class="nav-drop">
					{% for child in item.children %}
					<li class="nav-drop-item">
						<a href="{{ child.link }}">{{ child.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="_column -about">
		<h3>About Thy Website</h3>
		<div class="u-get-faded">
			{{ globals.site_about }}
		</div>
	</div>

	<div class="_column -socialMedia">
		<a class="top btn" href="#page" id="scroll_to_top">Back to Top</a>
		<ul class="-icons u-get-faded">
			<li>
				<a class="c-media--link" target="_blank" rel="noopener noreferrer nofollow" href="//dribbble.com/OneMohrTime" title="Dribbble" aria-label="Dribbble">
					{% include '/assets/img/icons/logo-dribbble.svg' only %}
				</a>
			</li>
			<li>
				<a class="c-media--link" target="_blank" rel="noopener noreferrer nofollow" href="//instagram.com/onemohrtimedesign" title="Instagram" aria-label="Instagram">
					{% include '/assets/img/icons/logo-instagram.svg' only %}
				</a>
			</li>
			<li>
				<a class="c-media--link" target="_blank" rel="noopener noreferrer nofollow" href="//github.com/onemohrtime" title="GitHub" aria-label="GitHub">
					{% include '/assets/img/icons/logo-github.svg' only %}
				</a>
			</li>
			<li>
				<a class="c-media--link" target="_blank" rel="noopener noreferrer nofollow" href="//twitter.com/OneMohrTime" title="Twitter" aria-label="Twitter">
					{% include '/assets/img/icons/logo-twitter.svg' only %}
				</a>
			</li>
		</ul>
		{% include 'components/css-nectar-award.twig' %}
		{% include 'components/css-design-award.twig' %}
	</div>

	<div class="copyright" role="contentinfo">
		<p>&copy;2011&thinsp;&mdash;&thinsp;{{ now | date('Y') }} |
		<a href="//recipes.onemohrti.me" target="_blank" rel="noopener noreferrer nofollow">Recipes</a> |
		<a href="//shop.onemohrti.me">Shop</a> |
		<a href="//grandrapidsbranding.co/" target="_blank" rel="noopener noreferrer nofollow">Grand Rapids Branding</a>
	</div>

</footer>
