<footer class="site__footer get-faded">

	<div class="site__footer--column projects">
		<h3>Featured Projects</h3>
		<ul>
			{% for item in footer.items %}
			<li>
				<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
				<ul class="nav-drop">
					{% for child in item.children %}
					<li class="nav-drop-item">
						<a href="{{ child.link }}">{{ child.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="site__footer--column about-site">
		<h3>Site Info</h3>
		<div>
			{# {{ options.site_about }} #}
			<p>Hosted on <a href="//digitalocean.com" target="_blank" rel="noopener">DigitalOcean</a>. Registered on <a href="//domains.google.com" target="_blank" rel="noopener">Google Domains</a>. Built using <a href="//www.upstatement.com/timber/" target="_blank" rel="noopener">Timber</a>, <a href="//twig.symfony.com/" target="_blank" rel="noopener">Twig</a>, <a href="//www.advancedcustomfields.com/" target="_blank" rel="noopener">ACF</a>, <a href="//greensock.com/" target="_blank" rel="noopener">Greensock</a>, and a little <a href="//sass-lang.com/" target="_blank" rel="noopener">Sass</a>.</p>
			<p>Find the source code on <a href="//github.com/OneMohrTime/onemohrtime" target="_blank" rel="noopener">GitHub</a>.</p>
		</div>
	</div>

	<div class="site__footer--column social-media">
		<h3>More Work</h3>
		<p>I tend to put up newer stuff, and generally be more active.</p>
		<ul class="icons">
			<li>
				<a target="_blank" href="//dribbble.com/OneMohrTime" title="Dribbble" aria-title="Dribbble">
					{% include '/assets/img/icons/logo-dribbble.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" href="//github.com/onemohtime" title="GitHub" aria-title="GitHub">
					{% include '/assets/img/icons/logo-github.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" href="//instagram.com/onemohrtimedesign" title="Instagram" aria-title="Instagram">
					{% include '/assets/img/icons/logo-instagram.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" href="//twitter.com/OneMohrTime" title="Twitter" aria-title="Twitter">
					{% include '/assets/img/icons/logo-twitter.svg' %}
				</a>
			</li>
			<li>
				<a target="_blank" href="//profile.codersrank.io/user/OneMohrTime" title="CodersRank" aria-title="CodersRank">
					{% include '/assets/img/icons/logo-codersrank.svg' %}
				</a>
			</li>
		</ul>
	</div>

	<div class="copyright _wysiwyg" role="contentinfo">
		<p>&copy;2011&thinsp;&mdash;&thinsp;{{ now | date('Y') }} | Proudly powered by <a href="//wordpress.org" target="_blank">WordPress</a> | <a href="//instagram.com/onemohrtimedesign" target="_blank">@OneMohrTime</a></p>
	</div>

</footer>
