{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}
	<section id="home_banner" class="c-banner -typographic -yellow">

		<ul id="home_banner_list" class="c-banner__list u-get-faded">
			{% for link in links %}
				{% set link = link.link %}
				<li class="c-banner__listItem">
					<a href="{{ link.url }}" class="c-banner__link">{{ link.title }}</a>
					{% if not loop.last %}//&nbsp;{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div id="home_intro" class="c-banner__intro">
			<div class="_line"></div>
			<h2 id="home_title" class="_title -wysiwyg">
				<span class="-row">
					Developer for <a href="//mightyinthemidwest.com/" target="_blank" rel="noopener" title="Mighty In The Midwest" class="intro__link">Mighty</a> by day,
				</span>
				<span class="-row">
					<a href="{{ site.link }}/travel/" class="intro__link">Traveling</a> designer by night.
				</span>
			</h2>
			<p class="_tagline u-get-faded">
				<span><a href="{{ site.link }}/about" class="c-banner__link">Derek Mohr</a> // </span>
				<span><a href="{{ site.link }}/about/now" class="c-banner__link">Grand Rapids, MI</a> // </span>
				<span>
					<a href="{{ site.link }}/work" class="c-banner__link" title="Full Stack Developer">Full Stack Developer</a> +
					<a href="{{ site.link }}/logo-design" class="c-banner__link" title="Graphic Designer">Graphic Designer</a>
				</span>
			</p>
		</div>
	</section>

	<figure id="home_about" class="homepage__about">

		<img src="{{ Image(image).src }}"
			alt="{{ image.alt }}"
			class="homepage__about--image"
			srcset="{{ Image(image).src('medium') }} 1000w,
					{{ Image(image).src('large') }} 1500w" />

		<figcaption class="homepage__about--content _wysiwyg u-get-faded">
			{{ post.content }}
		</figcaption>

	</figure>

	{# Add Section Repeater #}
	{% if post.sections|length %}
		<div class="homepage__builder">
			{% include 'partials/builder.twig' %}
		</div>
	{% endif %}

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
