{% extends 'templates/base.twig' %}
{% set displaySidebar = true %}

{% block content %}
	<section id="home_banner" class="banner -typographic -yellow">

		<ul id="home_banner_list" class="banner__list get-faded">
			{% for link in links %}
				{% set link = link.link %}
				<li class="banner__listItem">
					<a href="{{ link.url }}" class="banner__link">{{ link.title }}</a>
					{% if not loop.last %}//&nbsp;{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div id="home_intro" class="banner__intro get-faded">
			<div class="_line"></div>
			<h2 id="home_title" class="_title _wysiwyg">
				<span>Developer for <a href="//mightyinthemidwest.com/" target="_blank" rel="noopener" title="Mighty In The Midwest" class="intro__link">Mighty</a> by day,</span>
				<span><a href="{{ site.link }}/topics/travel/" class="intro__link">Traveling</a> designer by night.</span>
			</h2>
			<p class="_tagline">Derek Mohr // Grand Rapids, MI // <a href="//www.instagram.com/onemohrtimedesign/" target="_blank" rel="noopener" title="OneMohrTimeDesign's Instagram" class="banner__link">@OneMohrTime</a></p>
		</div>
	</section>

	<section id="home_dribbble" class="homepage__dribbble">
		<h2 class="dribbble__title">Recent Designs on Dribbble</h2>
		<div id="dribbbles" class="dribbbles"></div>
	</section>

	{% if about %}
		<figure id="home_about" class="homepage__about get-faded">

			<img src="{{ TimberImage(about.image).src }}"
				width="{{ about.image.width }}" height="{{ about.image.height }}"
				alt="{{ about.image.alt }}"
				class="homepage__about--image"
				srcset="{{ TimberImage(about.image).src('medium') }} 500w,
						{{ TimberImage(about.image).src('large') }} 1000w,
						{{ TimberImage(about.image).src('full') }} 1500w"
				sizes="(max-width: {{ about.image.width }}px) 100vw, {{ about.image.width }}px" />

			<figcaption class="homepage__about--content _wysiwyg get-faded">
				{{ about.text }}
			</figcaption>

		</figure>
	{% endif %}

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
