{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}
	<section class="c-banner -typographic">
		<div class="c-banner__intro">
			<h1 class="u-title">I&rsquo;m a freelance brand designer, web developer, and creative something-something. I&rsquo;m based out of Grand Rapids, MI. <a href="javascript:;" class="c-banner__link" data-module-contact-form>Questions?</a></h1>
		</div>
		{% if tagline is defined and tagline is not empty %}
			<strong class="u-caption">{{ tagline }}</strong>
		{% endif %}
	</section>

	<section class="homepage__cta">
		<h2 class="u-headline" data-module-title>Want To Work Together?</h2>
		<ul class="c-builder__section -cards -horizontalDeck u-get-faded">
			{% for cta in callToActions %}
				<li class="c-card">
					{% set headline    = cta.headline|default(null) %}
					{% set subheadline = cta.subheadline|default(null) %}
					{% set text        = cta.body ?? null %}
					{% set button      = cta.link ?? null %}
					{% set image       = cta.image ? Image(cta.image) : null %}
					{% set caption     = cta.image.caption|default(null) %}
					{% if cta.image.alt is not empty %}
						{% set alt = cta.image.alt %}
					{% elseif cta.image.description is not empty %}
						{% set alt = cta.image.description %}
					{% elseif caption is defined and caption is not empty %}
						{% set alt = caption %}
					{% elseif cta.image.title is not empty %}
						{% set alt = cta.image.title %}
					{% else %}
						{% set alt = '' %}
					{% endif %}
					{% set width       = cta.image.width ?? null %}

					{% if button %}
						<a href="{{ button }}" aria-label="{{ headline }}" class="c-card__link">
					{% endif %}
						{% if image %}
							<figure class="c-card__image">
								<img src="{{ image.src('thumbnail') }}"
									alt="{{ alt }}"
									class="_image"
									srcset="{{ image.src('medium') }} 1000w,
											{{ image.src('large') }} 1500w" />
							</figure>
						{% endif %}
						<div class="c-card__body">
							{% if headline %}
								<h3 class="_headline">{{ headline }}</h3>
							{% endif %}
							{% if subheadline %}
								<h3 class="_subheadline">{{ subheadline }}</h3>
							{% endif %}
							{% if text %}
								<div class="_text -wysiwyg">
									{{ text }}
								</div>
							{% endif %}
						</div>
					{% if button %}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</section>

	<section class="homepage__caseStudies">
		<div class="c-caseStudies">
			<div class="c-caseStudies__content">
				<h2 class="u-headline">{{ caseStudies.headline|default('Case Studies') }}</h2>
				{% if caseStudies.body is not empty %}
					<div class="c-wysiwyg">
						{{ caseStudies.body }}
					</div>
				{% endif %}
			</div>
			<div class="c-caseStudies__slides">
				<div class="swiper -caseStudy" data-module-swiper data-swiper-length="{{ caseStudies.projects|length }}">
					<div class="swiper-wrapper">
						{% for project in caseStudies.projects %}
							{% set project = Post(project) %}
							<div class="swiper-slide">
								<a href="{{ project.link }}" class="u-block-link">
									<span class="u-invisible">View {{ project.title }}</span>
								</a>
								{% include 'components/picture.twig' with {
									params: {
										src: project.thumbnail,
										ratio: '4:3'
									}
								} only %}
								<div class="swiper-lazy-preloader"></div>
								<h3 class="u-subheadline">{{ project.title }}</h3>
							</div>
						{% endfor %}
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>

	<section class="homepage__about">
		<article class="homepage__about--content _wysiwyg u-get-faded">
			{{ post.content }}
		</article>
		<figure class="homepage__about--image c-instagram">
			{% filter shortcodes %}
				[instagram-feed feed=1]
			{% endfilter %}
		</figure>
	</section>

	{% if feature1 is defined and feature1 is not empty %}
		<section class="homepage__feature homepage__feature--1">
			{% include 'components/article.twig' with {
				params: {
					headline: feature1.headline,
					subheadline: feature1.subheadline,
					text: feature1.body,
					image: feature1.image ? Image(feature1.image) : null,
					link: feature1.link_url
				}
			} only %}
		</section>
	{% endif %}

	{% if contact is defined and contact is not empty %}
		<section class="homepage__contact">
			<h2 class="u-headline">{{ contact.headline ?? 'Contact' }}</h2>
			<div class="u-wysiwyg">
				{{ contact.body }}
			</div>
			<a href="javascript:;" class="c-button" data-module-contact-form>Send a Message</a>
		</section>
	{% endif %}

	{% if feature2 is defined and feature2 is not empty %}
		<section class="homepage__feature homepage__feature--2">
			{% include 'components/article.twig' with {
				params: {
					headline: feature2.headline,
					subheadline: feature2.subheadline,
					text: feature2.body,
					image: feature2.image ? Image(feature2.image) : null,
					link: feature2.link_url
				}
			} only %}
		</section>
	{% endif %}

	{% if additional is defined and additional is not empty %}
		<section class="homepage__cards">
			{% include '_repeater/cards.twig' with {
				block: additional
			} only %}
		</section>
	{% endif %}

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
