{% extends 'templates/base.twig' %}

{% block content %}

	<figure id="home_banner" class="homepage__banner get-faded">
		<img src="{{ post.thumbnail.src('thumbnail') }}"
			 width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"
			 alt="banner for derek mohr's portfolio"
			 class="banner"
			 srcset="{{ post.thumbnail.src('medium') }} 500w,
					 {{ post.thumbnail.src('large') }} 1000w,
					 {{ post.thumbnail.src('full') }} 1500w"
					 sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px" />
		<figcaption id="home_intro" class="intro wysiwyg">
			{% if post.get_field('homepage_header') %}
				<h2 id="home_title" class="intro__title">{{ post.get_field('homepage_header') | striptags('<a><span>') }}</h2>
			{% endif %}
			<div class="line"></div>
			{% if post.get_field('homepage_intro') %}
				<p class="intro__description">{{ post.get_field('homepage_intro') | striptags('<a>') }}</p>
			{% endif %}
		</figcaption>
	</figure>

	<section id="home_dribbble" class="homepage__dribbble">
		<div id="dribbbles" class="dribbbles"></div>
	</section>

	{% if about %}
	<figure id="home_about" class="homepage__about get-faded">

		<img src="{{ TimberImage(about.image).src }}"
			 width="{{ about.image.width }}" height="{{ about.image.height }}"
			 alt="{{ about.image.alt }}"
			 class="homepage__about--image"
			 srcset="{{ TimberImage(about.image).src('medium') }} 500w,
					 {{ TimberImage(about.image).src('large') }} 1000w,
					 {{ TimberImage(about.image).src('full') }} 1500w"
			 sizes="(max-width: {{ about.image.width }}px) 100vw, {{ about.image.width }}px" />

		<figcaption class="homepage__about--content wysiwyg get-faded">
			{{ about.text }}
		</figcaption>

	</figure>
	{% endif %}

	{% if post.get_field('homepage_feature') %}
	<section id="home_features" class="homepage__portfolio get-faded">
		{% for post in post.get_field('homepage_feature') %}

			<div class="feature">

				<img src="{{ post.thumbnail.src('thumbnail') }}"
					 width="{{ post.thumbnail.width }}"
					 height="{{ post.thumbnail.height }}"
					 alt="slide image for {{ post.post_title }}"
					 class="feature__image"
					 srcset="{{ post.thumbnail.src('medium') }} 500w,
							 {{ post.thumbnail.src('large') }} 1000w,
							 {{ post.thumbnail.src }} 1500w"
					 sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px" />

				<div class="feature__content get-faded">
					<h2 class="feature__content--title">{{ post.title }}</h2>
					<div class="wysiwyg">
						<p>{{ post.post_excerpt }}</p>
					</div>
					<div class="feature__read-more">Read on {% include '/assets/images/icons/arrow-right.svg' %}</div>
				</div>

				<a href="{{ post.link }}" class="feature__link"></a>
			</div>

		{% endfor %}
	</section>
	{% endif %}

	<article id="home_content" class="homepage__work get-faded wysiwyg">
		{{ post.content }}
		<a href="{{ TimberPost(638).link }}">See Featured Projects {% include '/assets/images/icons/arrow-right.svg' %} </a>
	</article>

{% endblock %}