{% extends 'templates/base.twig' %}
{% set displaySidebar = true %}

{% block content %}
{% for post in posts %}
	<article {{ function('post_class') }}>

		<header class="page__header">
			{% if post.post_excerpt %}
				<p class="_meta">{{ post.post_excerpt }}</p>
			{% endif %}
			{% include 'components/title.twig' %}
		</header>

		{% if image_grid %}
		<section id="images" class="page__gallery">

			<div class="-sizer"></div>
			<div class="-gutter"></div>

			{% for image in image_grid %}

				<figure id="image_{{ image.id }}" class="image {{ image.post_class }} js-image">
					<img src="{{ TimberImage(image).src('thumbnail') }}"
						 width="{{ image.width }}" height="{{ image.height }}"
						 alt="{{ section.image.alt }}"
						 class="image__image"
						 srcset="{{ TimberImage(image).src('medium') }} 500w,
								 {{ TimberImage(image).src('large') }} 1000w,
								 {{ TimberImage(image).src('full') }} 1500w"
						 sizes="(max-width: {{ image.width }}px) 100vw, {{ image.width }}px"/>
					{% if image.caption %}
						<figcaption class="image__caption caption--text">{{ image.caption }}</figcaption>
					{% else %}
						<figcaption class="image__caption caption--zoom">
							{% include 'assets/media/icons/plus-zoom.svg' %}
						</figcaption>
					{% endif %}

					<a href="{{ TimberImage(image).src('full') }}" class="image__link" data-fancybox="gallery"{% if image.caption %} data-caption="{{ image.caption }}"{% endif %} data-width="{{ image.width }}" data-height="{{ image.height }}" data-trigger="gallery">
						<span class="screen-reader-text">Click to zoom</span>
					</a>
				</figure>

			{% endfor %}
		</section>
		{% endif %}

		<div class="page__content get-faded _wysiwyg">
			{{ post.content }}
		</div>

		<footer class="page__footer">
		</footer>

	</article>
{% endfor %}
{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
