{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<article class="o-page post-{{ post.id }} is-{{ post.type }}">

		<header class="o-page__header">
			{% if post.post_excerpt %}
				<p class="_meta">{{ post.post_excerpt }}</p>
			{% endif %}
			{% include 'components/title.twig' %}
		</header>

		{% if myLogos %}
		<div class="o-page__gallery" data-module-fancybox>

			{% for logo in myLogos %}
				<figure class="c-logo">

					{% set logoImage = logo ? Image(logo) : null %}
					{% set caption   = logo.content|default(null) %}
					{% set width     = logoImage.width ?? null %}
					{% set height    = logoImage.height ?? null %}

					<a href="{{ logoImage.src('full') }}" class="c-logo__link" data-fancybox="logos"{% if caption %} data-caption="{{ caption }}"{% endif %} data-width="{{ width }}" data-height="{{ height }}" data-trigger="gallery">
						<span class="u-invisible" aria-hidden="true">Zoom {{ logo.title }}</span>
					</a>

					<img src="{{ logoImage.src('thumbnail') }}"
						alt="{{ logo.alt ?? logo.description ?? logo.title }}"
						width="{{ width }}"
						height="{{ height }}"
						class="c-logo__image"
						srcset="{{ logoImage.src('medium') }} 1000w,
								{{ logoImage.src('large') }} 1500w"
						sizes="(max-width: {{ width }}px) 100vw, (max-width: 1440px) 25vw, 100vw" />

					<figcaption class="c-logo__caption -text">
						<h3>{{ logo.title }}</h3>
						<time>{{ logo.post_date|date('Y') }}</time>
					</figcaption>

				</figure>
			{% endfor %}

		</div>
		{% endif %}

		<div class="o-page__content u-get-faded _wysiwyg">
			{{ post.content }}
		</div>

		<footer class="o-page__footer">
		</footer>

	</article>

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
