{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<figure class="gallery__banner">

		<img src="{{ post.thumbnail.src('thumbnail') }}"
			width="{{ post.thumbnail.width }}"
			height="{{ post.thumbnail.height }}"
			alt="{{ post.thumbnail.alt }}"
			class="gallery__banner--image"
			srcset="{{ post.thumbnail.src('medium') }} 500w,
					{{ post.thumbnail.src('large') }} 1000w,
					{{ post.thumbnail.src('full') }} 1500w"
			sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px"/>

		<figcaption class="gallery__banner--title">
			<h2>{{ post.title }}</h2>
		</figcaption>

		<a href="#contact" class="gallery__banner--contact btn">{% include '/assets/media/icons/arrow-left.svg' %} Contact</a>

	</figure>

	<div class="gallery__filter">
		{#
		TODO: Build Isotope filters

		<form class="arrays get-faded" id="featured_project_filter">
			<ul class="array array__roles" role="group" aria-labelledby="array_1">
				<li class="array__item">
					<button type="button" id="array_1" class="array__filter array__title" role="button" data-filter="*">
						<span class="array__title--before">All</span> Role<span class="array__title--before">s</span><span class="array__title--after">:</span>
					</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-filter=".role-designer">Designer</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-filter=".role-developer">Developer</button>
				</li>
			</ul>
			<ul class="array array__category" role="group" aria-labelledby="array_2">
				<li class="array__item">
					<button type="button" id="array_2" class="array__filter array__title" role="button" data-filter="*">
						<span class="array__title--before">All</span> Type<span class="array__title--before">s</span><span class="array__title--after">:</span>
					</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-filter=".job_type-freelance">Freelance</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-filter=".job_type-agency">Agency</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-filter=".job_type-inhouse">In-house</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-filter=".job_type-personal">Personal</button>
				</li>
			</ul>
		</form>
		#}
	</div>

	{% if projects %}
		<section id="gallery" class="gallery__grid">
			{% for post in projects %}
				{% include 'components/article.twig' %}
			{% endfor %}
		</section>
	{% endif %}

	<article class="gallery__content get-faded _wysiwyg">
		{{ post.content }}
	</article>

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
