{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<figure class="c-gallery__banner">

		<img src="{{ post.thumbnail.src('thumbnail') }}"
			width="{{ post.thumbnail.width }}"
			height="{{ post.thumbnail.height }}"
			alt="{{ post.thumbnail.alt }}"
			class="c-gallery__banner--image"
			srcset="{{ post.thumbnail.src('medium') }} 500w,
					{{ post.thumbnail.src('large') }} 1000w,
					{{ post.thumbnail.src('full') }} 1500w"
			sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px"/>

		<figcaption class="c-gallery__banner--title">
			<h2>{{ post.title }}</h2>
		</figcaption>

		<a href="#contact" class="c-gallery__banner--contact c-button">{% include '/assets/img/icons/arrow-left.svg' %} Contact</a>

	</figure>

	{% if projects %}
		<section id="gallery" class="c-gallery__grid">
			{% for post in projects %}
				{% include 'components/article.twig' %}
			{% endfor %}
		</section>
	{% endif %}

	<article class="c-gallery__content u-get-faded _wysiwyg">
		{{ post.content }}
	</article>

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
