{% extends 'templates/base.twig' %}

{% block content %}
	
    {% for post in posts %}
	<figure class="gallery__banner">
		
		<img src="{{ post.thumbnail.src('thumbnail') }}"
			 width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"
			 alt="{{ post.thumbnail.alt }}"
			 class="gallery__banner--image image--parallax"
			 data-speed="-0.5"
			 srcset="{{ post.thumbnail.src('medium') }} 500w,
					 {{ post.thumbnail.src('large') }} 1000w,
					 {{ post.thumbnail.src('full') }} 1500w"
			 sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px"/>
		
		<figcaption class="gallery__banner--title">
			<h2>{{ post.title }}</h2>
		</figcaption>
		
		<a href="#contact" class="gallery__banner--contact btn"><span class="fas fa-long-arrow-alt-left"></span> Contact</a>
		
	</figure>
    {% endfor %}
	
	<div class="gallery__filter">
		<form class="arrays fade-content" id="featured_project_filter">
			<ul class="array array__roles" role="group" aria-labelledby="array_1">
				<li class="array__item">
					<button type="button" id="array_1" class="array__filter array__title" role="button" data-filter="all">
						<span class="array__title--before">All</span> Role<span class="array__title--before">s</span><span class="array__title--after">:</span>
					</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".role-designer">Designer</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".role-developer">Developer</button>
				</li>
			</ul>
			<ul class="array array__category" role="group" aria-labelledby="array_2">
				<li class="array__item">
					<button type="button" id="array_2" class="array__filter array__title" role="button" data-filter="all">
						<span class="array__title--before">All</span> Type<span class="array__title--before">s</span><span class="array__title--after">:</span>
					</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".job_type-freelance">Freelance</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".job_type-agency">Agency</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".job_type-inhouse">In-house</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".job_type-personal">Personal</button>
				</li>
			</ul>
		</form>
	</div>
	
	{% if gallery %}
	<section id="gallery" class="gallery__grid fade-content">
		
		{% for item in gallery %}
		
		<div id="proj_id_{{ item.id }}" class="gallery__project mix {{ item.post_class }}">
			
			<div class="gallery__project--content fade-content">
				
				{% if item.get_field('project_header') %}
				<div class="gallery__project--excerpt">
					{{ item.get_field('project_header').subtitle }}
				</div>
				{% endif %}
				
				<h2 class="gallery__project--header">
					<a href="{{ item.link }}">{{ item.title }}</a>
				</h2>
				<a href="{{ item.link }}" class="gallery__project--link">See Project</a>
			</div>
			
			<img src="{{ item.thumbnail.src }}"
				 width="{{ item.thumbnail.width }}" height="{{ item.thumbnail.height }}"
				 alt="{{ item.thumbnail.alt }}"
				 class="gallery__project--image image--parallax"
				 data-speed="-0.25"
				 srcset="{{ item.thumbnail.src('medium') }} 500w,
						 {{ item.thumbnail.src('large') }} 1000w,
						 {{ item.thumbnail.src('full') }} 1500w"
				 sizes="(max-width: {{ item.thumbnail.width }}px) 100vw, {{ item.thumbnail.width }}px" />
			
		</div>
		
		{% endfor %}
	</section>
	{% endif %}
	
	{% for post in posts %}
	<article class="gallery__content fade-content wysiwyg">
		{{ post.content }}
	</article>
	{% endfor %}
	
	{#
	<section class="gallery__dribbble">
		<div id="dribbbles" class="dribbbles fade-content"></div>
	</section>
	#}
	
{% endblock %}