{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<article class="post-{{ post.id }} -{{ post.type }}">

		<header class="page__header">
			{% if post.post_excerpt %}
				<p class="_meta">{{ post.post_excerpt }}</p>
			{% endif %}
			{% include 'components/title.twig' %}
		</header>

		{% if image_grid %}
		<div id="images" class="page__gallery _gallery">

			<div class="_sizer"></div>
			<div class="_gutter"></div>

			{% for image in image_grid %}
				<figure class="media js-image">

					{% set imageOptimized = image ? Image(image) : null %}
					{% set caption        = image.caption|default(null) %}
					{% if image.alt is not empty %}
						{% set alt = image.alt %}
					{% elseif image.description is not empty %}
						{% set alt = image.description %}
					{% elseif caption is defined and caption is not empty %}
						{% set alt = caption %}
					{% elseif image.title is not empty %}
						{% set alt = image.title %}
					{% else %}
						{% set alt = '' %}
					{% endif %}
					{% set width          = image.width ?? null %}
					{% set height         = image.height ?? null %}

					<img src="{{ imageOptimized.src('thumbnail') }}"
						alt="{{ alt }}"
						width="{{ width }}"
						height="{{ height }}"
						class="_image"
						srcset="{{ imageOptimized.src('medium') }} 1000w,
								{{ imageOptimized.src('large') }} 1500w"
						sizes="(max-width: {{ width }}px) 100vw, (max-width: 1440px) 25vw, 100vw"/>

					<figcaption class="media__caption -text">
						{% include 'assets/img/icons/plus-zoom.svg' %}
						<span>{{ image.title }}</span>
					</figcaption>

					<a href="{{ imageOptimized.src('full') }}" class="media__link" data-fancybox="gallery-{{ headline|lower|replace({' ': '-', '/': '-'})|slice(0, 16) }}"{% if caption %} data-caption="{{ caption }}"{% endif %} data-width="{{ width }}" data-height="{{ height }}" data-trigger="gallery">
						<span class="a11yText">Zoom</span>
					</a>

				</figure>
			{% endfor %}

		</div>
		{% endif %}

		<div class="page__content -getFaded _wysiwyg">
			{{ post.content }}
		</div>

		<footer class="page__footer">
		</footer>

	</article>

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
