{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% set roles   = post.terms('role') ?? null %}
{% set jobType = post.terms('job_type') ?? null %}
{% set coding  = post.terms('coding') ?? null %}

{% block content %}

{# Banner Area #}
<header class="project__header">
	<figure class="project__banner get-faded">
		{# TODO: Bring back parallax functionality #}
		{% if banner %}
		<img src="{{ TimberImage(banner.image).src }}"
			 width="{{ banner.image.width }}" height="{{ banner.image.height }}"
			 alt="{{ banner.image.alt }}"
			 class="project__banner--image"
			 data-speed="-0.25"
			 srcset="{{ TimberImage(banner.image).src('medium') }} 500w,
					 {{ TimberImage(banner.image).src('large') }} 1000w,
					 {{ TimberImage(banner.image).src('full') }} 1500w"
			 sizes="(max-width: {{ banner.image.width }}px) 100vw, {{ banner.image.width }}px" />
		<h2 class="project__subtitle">{{ banner.subtitle }}</h2>
		{% endif %}

		<h1 class="project__title">{{ post.title }}</h1>

		<a href="#contact" class="project__banner--contact btn">{% include '/assets/img/icons/arrow-left.svg' %}Contact</a>

	</figure>
	{# include "components/entry-meta.twig" #}
</header>

{# Project Details #}
{% if details %}
<aside class="project__specs get-faded">

	<h2 class="_subheadline" aria-hidden="true">More details</h2>

	{% if roles %}
		<ul class="spec spec--list">
			<li class="spec__header"><h3>My Role{% if roles|length > 1 %}s{% endif %}</h3></li>
			{% for role in roles %}
				<li class="spec__role spec--list__item">{{ role }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if jobType %}
		<ul class="spec spec--list">
			<li class="spec__header"><h3>Project Type</h3></li>
			{% for job in jobType %}
				<li class="spec__category spec--list__item">{{ job }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if coding %}
		<ul class="spec spec--group">
			<li class="spec__header"><h3>Coding Components</h3></li>
			{% for language in coding %}
				<li class="spec__role spec--group__item">{{ language }}</li>
			{% endfor %}
		</ul>
	{% endif %}

</aside>
{% endif %}

{# Add Section Repeater #}
{% if post.sections|length %}
	<div class="project__builder">
		{% include 'partials/builder.twig' %}
	</div>
{% endif %}

{# Navigate between projects
<footer>
	{{ dump(wp_link_pages) }}
</footer> #}

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
