<p class="meta wysiwyg">
	<time class="updated" datetime="{{ post.post_date | date(c) }}">Around {{ post.post_date_gmt | time_ago }}</time> |
	<i class="fa fa-newspaper-o"></i> {{ post.format | capitalize }}
	<span class="byline author vcard screen-reader-text"> | {{  __('', 'onemohrtime') }} <a href="{{ post.author.path }}" rel="author" class="fn">{{ post.author.name }}</a></span>
</p>