<footer class="site__footer fade-content">
	
	<div class="site__footer--column plugins">
		<h3>Built With</h3>
		<ul>
			<li><a href="//roots.io/sage" target="_blank">Sage.io</a></li>
			<li><a href="//sass-lang.com" target="_blank">Sass</a> w/<a href="//bourbon.io" target="_blank">Bourbon</a></li>
			<li><a href="//twig.symfony.com" target="_blank">Twig PHP</a></li>
			<li><a href="//gulpjs.com/" target="_blank">Gulp JS</a></li>
		</ul>
	</div>
	
	<div class="site__footer--column">
		<h3>Plugins</h3>
		<ul>
			<li><a href="//advancedcustomfields.com/pro" target="_blank">ACF Pro</a></li>
			<li><a href="//upstatement.com/timber/" target="_blank">Timber</a></li>
			<li><a href="//github.com/WebDevStudios/custom-post-type-ui" target="_blank">CPT UI</a></li>
		</ul>
	</div>
	
	<div class="site__footer--column">
		<h3>Components</h3>
		<ul>
			<li><a href="//idangero.us/swiper/" target="_blank">Swiper.js</a></li>
			<li><a href="//fancyapps.com/fancybox/3/" target="_blank">Fancybox 3</a></li>
			<li><a href="//kunkalabs.com/mixitup/" target="_blank">MixItUp</a></li>
		</ul>
	</div>
	
	<div class="site__footer--column projects">
		<h3>Featured Projects</h3>
		<ul>
			{% for item in menu.items %}
			<li>
				<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
				<ul class="nav-drop">
					{% for child in item.children %}
					<li class="nav-drop-item">
						<a href="{{ child.link }}">{{ child.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	
	<div class="site__footer--column social-media">
		<h3>More Work</h3>
		<p>Find me other places online, I swear it&rsquo;s not just food and beard pictures.</p>
		<ul class="icons">
			<li><a target="_blank" href="//twitter.com/OneMohrTime"><i class="fa fa-twitter"></i></a></li>
			<li><a target="_blank" href="//instagram.com/onemohrtimedesign"><i class="fa fa-instagram"></i></a></li>
			<li><a target="_blank" href="//plus.google.com/+DerekMohr" rel="author"><i class="fa fa-google-plus"></i></a></li>
			<li><a target="_blank" href="//dribbble.com/OneMohrTime"><i class="fa fa-dribbble"></i></a></li>
			<li><a target="_blank" href="//onemohrtime.tumblr.com"><i class="fa fa-tumblr"></i></a></li>
		</ul>
	</div>
	
	<div role="contentinfo">
		<p class="copyright">Proudly powered by <a href="//wordpress.org" target="_blank"></a>. &copy;{{ now|date('Y') }} by {{ bloginfo('name') }}</p>
	</div>

</footer>