{% set section = block %}

{#
 # Cards Block
 #}

{% set layout = section.card_layout %}
{% set deck   = section.cards %}

<ul class="c-builder__section -cards -{{ layout }}Deck u-get-faded">
	{% for card in deck %}
		<li class="c-card">

			{% set headline    = card.headline|default(null) %}
			{% set subheadline = card.subheadline|default(null) %}
			{% set text        = card.text ?? null %}
			{% set button      = card.button ?? null %}
			{% set image       = card.image ? Image(card.image) : null %}
			{% set caption     = card.image.caption|default(null) %}
			{% if card.image.alt is not empty %}
				{% set alt = card.image.alt %}
			{% elseif card.image.description is not empty %}
				{% set alt = card.image.description %}
			{% elseif caption is defined and caption is not empty %}
				{% set alt = caption %}
			{% elseif card.image.title is not empty %}
				{% set alt = card.image.title %}
			{% else %}
				{% set alt = '' %}
			{% endif %}
			{% set width       = card.image.width ?? null %}

			{% if button %}
				<a href="{{ button.url }}"{% if button.target == '_blank' %} target="_blank"{% endif %} aria-label="{{ button.title }}" class="c-card__link">
			{% endif %}

				{% if image %}
					<figure class="c-card__image">
						<img src="{{ image.src('thumbnail') }}"
							alt="{{ alt }}"
							class="_image"
							srcset="{{ image.src('medium') }} 1000w,
									{{ image.src('large') }} 1500w" />
					</figure>
				{% endif %}

				<div class="c-card__body">

					{% if headline %}
						<h3 class="_headline">{{ headline }}</h3>
					{% endif %}

					{% if subheadline %}
						<h3 class="_subheadline">{{ subheadline }}</h3>
					{% endif %}

					{% if text %}
						<div class="_text -wysiwyg">
							{{ text }}
						</div>
					{% endif %}

				</div>

			{% if button %}
				</a>
			{% endif %}

		</li>
	{% endfor %}
</ul>
