{% set section = block %}

{#
 # Gallery Block
 #}

{% set headline    = section.headline|default(null) %}
{% set subheadline = section.subheadline|default(null) %}
{% set text        = section.text ?? null %}
{% set images      = section.images ?? null %}

<div class="builder__section -gallery -getFaded">

	{% if headline %}
		<h2 class="_headline">{{ headline }}</h2>
	{% endif %}

	{% if subheadline %}
		<h3 class="_subheadline">{{ subheadline }}</h3>
	{% endif %}

	{% if text %}
		<div class="_text -wysiwyg{% if isLarge %} -isLarge{% endif %}">
			{{ text }}
		</div>
	{% endif %}

	{% if images %}
		<div class="_gallery">

			<div class="_sizer"></div>
			<div class="_gutter"></div>

			{% for image in images %}
				<figure class="media js-image">

					{% set imageOptimized = image ? Image(image) : null %}
					{% set caption        = image.caption|default(null) %}
					{% if image.alt is not empty %}
						{% set alt = image.alt %}
					{% elseif image.description is not empty %}
						{% set alt = image.description %}
					{% elseif caption is defined and caption is not empty %}
						{% set alt = caption %}
					{% elseif image.title is not empty %}
						{% set alt = image.title %}
					{% else %}
						{% set alt = '' %}
					{% endif %}
					{% set width          = image.width ?? null %}
					{% set height         = image.height ?? null %}

					<img src="{{ imageOptimized.src('thumbnail') }}"
						alt="{{ alt }}"
						width="{{ width }}"
						height="{{ height }}"
						class="_image"
						srcset="{{ imageOptimized.src('medium') }} 1000w,
								{{ imageOptimized.src('large') }} 1500w"
						sizes="(max-width: {{ width }}px) 100vw, {{ width }}px"/>
					{% if caption %}
						<figcaption class="media__caption -text">{{ caption }}</figcaption>
					{% else %}
						<figcaption class="media__caption -zoom">{% include 'assets/img/icons/plus-zoom.svg' %}</figcaption>
					{% endif %}

					<a href="{{ imageOptimized.src('full') }}" class="media__link" data-fancybox="gallery-{{ headline|lower|replace({' ': '-', '/': '-'})|slice(0, 16) }}"{% if caption %} data-caption="{{ caption }}"{% endif %} data-width="{{ width }}" data-height="{{ height }}" data-trigger="gallery">
						<span class="a11yText">{{ image.caption ?? image.title ?? 'See Image' }}</span>
					</a>

				</figure>
			{% endfor %}

			<div class="_clearGrid"></div>

		</div>
	{% endif %}
	<div class="_clearGrid"></div>
</div>
