{% set section = block %}

{#
 # Gallery Block
 #}

{% set headline    = section.headline|default(null) %}
{% set subheadline = section.subheadline|default(null) %}
{% set text        = section.text ?? null %}
{% set images      = section.images ?? null %}

<div class="builder__section -gallery _wysiwyg get-faded">
	{% if headline %}
		<h2 class="_headline">{{ headline }}</h2>
	{% endif %}
	{% if subheadline %}
		<h3 class="_subheadline">{{ subheadline }}</h3>
	{% endif %}
	{% if text %}
		<div class="_wysiwyg{% if isLarge %} -isLarge{% endif %}">
			{{ text }}
		</div>
	{% endif %}
	{% if images %}
		<div class="_gallery">
			<div class="image__sizer"></div>
			<div class="image__gutter"></div>
			{% for image in images %}
				<figure class="image__frame js-image">
					{% set imageOptimized = image ? Image(image) : null %}
					{% set caption        = image.caption|default(null) %}
					{% if image.alt is not empty %}
						{% set alt = image.alt %}
					{% elseif image.description is not empty %}
						{% set alt = image.description %}
					{% elseif caption is defined and caption is not empty %}
						{% set alt = caption %}
					{% elseif image.title is not empty %}
						{% set alt = image.title %}
					{% else %}
						{% set alt = '' %}
					{% endif %}
					{% set width          = image.width ?? null %}
					{% set height         = image.height ?? null %}

					<img src="{{ imageOptimized.src('thumbnail') }}"
						alt="{{ alt }}"
						class="_image"
						srcset="{{ imageOptimized.src('medium') }} 1000w,
								{{ imageOptimized.src('large') }} 1500w"
						sizes="(max-width: {{ width }}px) 100vw, {{ width }}px"/>
					{% if caption %}
						<figcaption class="image__caption -text">{{ caption }}</figcaption>
					{% else %}
						<figcaption class="image__caption -zoom">{% include 'assets/img/icons/plus-zoom.svg' %}</figcaption>
					{% endif %}

					<a href="{{ imageOptimized.src('full') }}" class="image__link" data-fancybox="gallery"{% if caption %} data-caption="{{ caption }}"{% endif %} data-width="{{ width }}" data-height="{{ height }}" data-trigger="gallery">
						<span class="screen-reader-text">Zoom</span>
					</a>
				</figure>
			{% endfor %}
		</div>
	{% endif %}
</div>
