{% set section = block %}

{#
 # Image Block
 #}

{% set image   = section.image ? Image(section.image) : null %}
{% set caption = section.image.caption|default(null) %}
{% if section.image.alt is not empty %}
	{% set alt = section.image.alt %}
{% elseif section.image.description is not empty %}
	{% set alt = section.image.description %}
{% elseif caption is defined and caption is not empty %}
	{% set alt = caption %}
{% elseif section.image.title is not empty %}
	{% set alt = section.image.title %}
{% else %}
	{% set alt = '' %}
{% endif %}
{% set width   = section.image.width ?? null %}
{% set imgLink = section.link_to_file ?? null %}

<figure class="builder__section -image -{{ section.layout }} get-faded">
	{# TODO: Bring back parallax functionality #}
	{% if imgLink %}<a href="{{ image.src('large') }}" data-fancybox="{{ section.image.uid }}">{% endif %}

	<img src="{{ image.src('thumbnail') }}"
		alt="{{ alt }}"
		class="_image"
		srcset="{{ image.src('medium') }} 1000w,
				{{ image.src('large') }} 1500w"
		sizes="(max-width: {{ width }}px) 100vw, {{ width }}px" />

	{% if imgLink %}</a>{% endif %}
</figure>
