{% set section = block %}

{#
 # Text Block
 #}

{% set headline    = section.headline|default(null) %}
{% set subheadline = section.subheadline|default(null) %}
{% set text        = section.text ?? null %}
{% set button      = section.button ?? null %}
{% set isLarge     = section.is_large.value ?? false %}

<div class="builder__section -text -getFaded">
	{% if headline %}
		<h2 class="_headline">{{ headline }}</h2>
	{% endif %}
	{% if subheadline %}
		<h3 class="_subheadline">{{ subheadline }}</h3>
	{% endif %}
	{% if text %}
		<div class="_wysiwyg _text -wysiwyg{% if isLarge %} -isLarge{% endif %}">
			{{ text }}
		</div>
	{% endif %}
	{% if button %}
		<a href="{{ button.url }}"{% if button.target == '_blank' %} target="_blank"{% endif %} aria-label="{{ button.title }}" class="_button">{{ button.title }}</a>
	{% endif %}
</div>
