{% set section = block %}

{#
 # Text + Image Block
 #}

{% set text    = section.text ?? '' %}
{% set image   = section.image ? Image(section.image) : null %}
{% if section.image.alt is not empty %}
	{% set alt = section.image.alt %}
{% elseif section.image.description is not empty %}
	{% set alt = section.image.description %}
{% elseif section.image.caption is not empty %}
	{% set alt = section.image.caption %}
{% elseif section.image.title is not empty %}
	{% set alt = section.image.title %}
{% else %}
	{% set alt = '' %}
{% endif %}
{% set reverse = section.reverse ?? false %}
{% set width   = section.image.width ?? null %}

<div class="c-builder__section -textAndImage{% if reverse %} -reversed{% endif %} u-get-faded">
	<div class="_col -content _text -wysiwyg u-get-faded">
		{{ text }}
	</div>
	<figure class="_col -image">
		<img src="{{ image.src('thumbnail') }}"
			alt="{{ alt }}"
			class="_image"
			srcset="{{ image.src('medium') }} 1000w,
					{{ image.src('large') }} 1500w"
			sizes="(max-width: {{ width }}px) 100vw, {{ width }}px" />
	</figure>
</div>
