{% set section = block %}

{#
 # Video Block
 #}

{% set headline = section.headline|default(null) %}
{% set text     = section.text ?? null %}
{% set layout   = section.layout|default('url') %}
{% set oEmbed   = section.embed ?? null %}
{% set iFrame   = section.script ?? null %}
{% set upload   = section.upload ?? null %}

<div class="builder__section -video -from{{ layout|capitalize }} u-get-faded">
	{% if headline %}
		<h2 class="_headline">{{ headline }}</h2>
	{% endif %}
	{% if text %}
		<div class="_text -wysiwyg">
			{{ text }}
		</div>
	{% endif %}

	{# `url` triggers ACF's oEmbed field #}
	{% if layout == 'url' %}
		{# Label: URL (YouTube, Vimeo, etc) #}
		<figure class="wrapper -hd">
			{{ oEmbed }}
		</figure>
	{% endif %}

	{# `external` triggers a blank textarea #}
	{% if layout == 'external' %}
		{# Label: Embed Code #}
		<figure class="wrapper -fullSize">
			{{ iFrame }}
		</figure>
	{% endif %}

	{# `internal` triggers a file upload #}
	{% if layout == 'internal' %}

		{# If upload is Video #}
		{% if upload.type == 'video' %}

			{# calculate aspect ratio #}
			{% set height  = upload.height %}
			{% set width   = upload.width %}
			{% set decimal = height / width * 100 %}
			{# Label: Internal Upload #}
			<figure class="wrapper -isCustom -ratio{{ width }}:{{ height }}">
				<video controls preload="none" autoplay="false" width="{{ width }}" height="{{ height }}">
					<source src="{{ upload.url }}" type="{{ upload.mime_type }}" />
					<p>Sorry, your browser doesn't support embedded videos. You can still <a href="{{ upload.url }}" download>download</a> it.</p>
				</video>
			</figure>

		{# If upload is Video #}
		{% elseif upload.type == 'audio' %}
			<div class="wrapper -audio">
				<audio controls preload="metadata">
					<source src="{{ upload.url }}" type="{{ upload.mime_type }}" />
					<p>Sorry, your browser does not support the audio element. You can still <a href="{{ upload.url }}" download>download</a> it.</p>
				</audio>
			</div>

		{% endif %}
	{% endif %}
</div>
