{% extends 'templates/base.twig' %}

{% block content %}

	{% if post.get_field('homepage_hero') %}
	<div class="swiper-container">
		
		<figure class="parallax-bg" style="background-image:url('{{ post.thumbnail.src }}')" data-swiper-parallax="-23%"></figure>
		
		<div class="swiper-wrapper">
			
			{% for swiper in post.get_field('homepage_hero') %}
			<div class="swiper-slide">
				
				<div class="swiper-slide__title" data-swiper-parallax="-400" data-swiper-parallax-duration="500">
					<h2>{{ swiper.title }}</h2>
				</div>
				
				<div class="swiper-slide__text" data-swiper-parallax="-200">
					{{ swiper.content }}
				</div>
				
			</div>
			{% endfor %}
			
		</div>
		
		<div class="swiper-pagination swiper-pagination-white"></div>
		
		<div class="swiper-button-prev swiper-button-white"></div>
		<div class="swiper-button-next swiper-button-white"></div>
		
	</div>
	{% endif %}
	
	<article class="homepage__work content-block fade-content wysiwyg">
		{{ post.content }}
		<a href="{{ TimberPost(638).link }}">See Featured Projects <span class="fa fa-long-arrow-right"></span></a>
	</article>
	
	{% if post.get_field('homepage_feature') %}
	<section class="homepage__portfolio">
		{% for feature in post.get_field('homepage_feature') %}
			
			<div class="feature fade-content">
				<img src="{{ feature.thumbnail.src }}" />
				<div class="feature__content fade-content wysiwyg">
					<h2 class="feature__content--title">
						<a href="{{ feature.link }}">{{ feature.title }}</a>
					</h2>
					{{ feature.excerpt }}
					<a href="{{ feature.link }}">See Project <span class="fa fa-long-arrow-right"></span></a>
				</div>
			</div>
			
		{% endfor %}
	</section>
	{% endif %}

{% endblock %}