{% extends 'templates/base.twig' %}

{% block content %}
	
	{% if swiper %}
	<section class="homepage__swipers">
		
		<div id="home_parallax" class="swiper-container">
			<div class="parallax-bg" data-swiper-parallax="-23%">
				<img src="{{ post.thumbnail.src('thumbnail') }}"
					 width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"
					 alt="banner for derek mohr's portfolio"
					 class="swiper__image"
					 srcset="{{ post.thumbnail.src('medium') }} 500w,
							 {{ post.thumbnail.src('large') }} 1000w,
							 {{ post.thumbnail.src('full') }} 1500w"
					 sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px" />
			</div>
			<div class="swiper-wrapper">
				{% for slide in swiper %}
					<div class="swiper-slide"></div>
				{% endfor %}
			</div>
		</div>
		<div id="home_frame_2" class="swiper-container">
			<div class="swiper-wrapper">
				{% for slide in swiper %}
				<div class="swiper-slide swiper-frame-2">
					<div class="swiper-slide__frame"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div id="home_frame_1" class="swiper-container">
			<div class="swiper-wrapper">
				{% for slide in swiper %}
				<div class="swiper-slide swiper-frame-1">
					<div class="swiper-slide__frame"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div id="home_banner" class="swiper-container">
			
			<div class="swiper-button-prev swiper-button-white"></div>
			<div class="swiper-button-next swiper-button-white"></div>
			
			<div class="swiper-pagination swiper-pagination-white"></div>
			
			<div class="swiper-wrapper">
				{% for slide in swiper %}
				<div class="swiper-slide">
					
					<h2 class="swiper-slide__title" data-swiper-parallax="-1000" data-swiper-parallax-duration="500">
						{{ slide.title }}
					</h2>
					
				</div>
				{% endfor %}
			</div>
			
		</div>
	</section>
	{% endif %}
	
	{% if post.get_field('homepage_intro') %}
	<section class="homepage__intro fade-content">
		{{ post.get_field('homepage_intro') }}
	</section>
	{% endif %}
	
	<section class="homepage__dribbble fade-content">
		<div id="dribbbles" class="dribbbles fade-content"></div>
	</section>
	
	{% if about %}
	<figure class="homepage__about fade-content">
		
		<img src="{{ TimberImage(about.image).src }}"
			 width="{{ about.image.width }}" height="{{ about.image.height }}"
			 alt="{{ about.image.alt }}"
			 class="homepage__about--image"
			 srcset="{{ TimberImage(about.image).src('medium') }} 500w,
					 {{ TimberImage(about.image).src('large') }} 1000w,
					 {{ TimberImage(about.image).src('full') }} 1500w"
			 sizes="(max-width: {{ about.image.width }}px) 100vw, {{ about.image.width }}px" />
		
		<figcaption class="homepage__about--content fade-content">
			{{ about.text }}
		</figcaption>
		
	</figure>
	{% endif %}
	
	{% if post.get_field('homepage_feature') %}
	<section class="homepage__portfolio fade-content">
		{% for post in post.get_field('homepage_feature') %}
			
			<div class="feature fade-content">
				
				<img src="{{ post.thumbnail.src('thumbnail') }}"
					 width="{{ post.thumbnail.width }}"
					 height="{{ post.thumbnail.height }}"
					 alt="slide image for {{ post.post_title }}"
					 class="feature__image"
					 srcset="{{ post.thumbnail.src('medium') }} 500w,
							 {{ post.thumbnail.src('large') }} 1000w,
							 {{ post.thumbnail.src }} 1500w"
					 sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px" />
				
				<div class="feature__content fade-content wysiwyg">
					<h2 class="feature__content--title">
						<a href="{{ post.link }}">{{ post.title }}</a>
					</h2>
					<p>{{ post.post_excerpt }}</p>
				</div>
				
				<a href="{{ post.link }}" class="feature__link"></a>
			</div>
			
		{% endfor %}
	</section>
	{% endif %}
	
	<article class="homepage__work fade-content wysiwyg">
		{{ post.content }}
		<a href="{{ TimberPost(638).link }}">See Featured Projects <span class="fa fa-long-arrow-right"></span></a>
	</article>
	
{% endblock %}