{% extends 'templates/base.twig' %}

{% block content %}
	
	{% if swiper %}
	<section class="homepage__swipers">
		
		<div id="home_parallax" class="swiper-container">
			<div class="parallax-bg" data-swiper-parallax="-23%">
				<img src="{{ post.thumbnail.src('thumbnail') }}"
					 alt=""
					 class="swiper__image"
					 srcset="{{ post.thumbnail.src('medium') }} 500w,
							 {{ post.thumbnail.src('large') }} 1000w,
							 {{ post.thumbnail.src('full') }} 1500w"
					 sizes="" />
			</div>
		</div>
		<div id="home_frame_2" class="swiper-container">
			<div class="swiper-wrapper">
				{% for slide in swiper %}
				<div class="swiper-slide swiper-frame-2">
					<div class="swiper-slide__frame"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div id="home_frame_1" class="swiper-container">
			<div class="swiper-wrapper">
				{% for slide in swiper %}
				<div class="swiper-slide swiper-frame-1">
					<div class="swiper-slide__frame"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div id="home_banner" class="swiper-container">
			
			<div class="swiper-button-prev swiper-button-white"></div>
			<div class="swiper-button-next swiper-button-white"></div>
			
			<div class="swiper-pagination swiper-pagination-white"></div>
			
			<div class="swiper-wrapper">
				{% for slide in swiper %}
				<div class="swiper-slide">
					
					<h2 class="swiper-slide__title" data-swiper-parallax="-500" data-swiper-parallax-duration="750">
						{{ slide.title }}
					</h2>
					<div class="swiper-slide__text" data-swiper-parallax="-250">
						{{ slide.content }}
					</div>
					
				</div>
				{% endfor %}
			</div>
			
		</div>
	</section>
	{% endif %}
	
	<article class="homepage__work content-block fade-content wysiwyg">
		{{ post.content }}
		<a href="{{ TimberPost(638).link }}">See Featured Projects <span class="fa fa-long-arrow-right"></span></a>
	</article>
	
	{% if post.get_field('homepage_feature') %}
	<section class="homepage__portfolio">
		{% for post in post.get_field('homepage_feature') %}
			
			<div class="feature fade-content">
				
				<img src="{{ post.thumbnail.src('thumbnail') }}"
					 width="{{ post.thumbnail.width }}"
					 height="{{ post.thumbnail.height }}"
					 alt="slide image for {{ post.post_title }}"
					 class="feature__image"
					 srcset="{{ post.thumbnail.src('medium') }} 500w,
							 {{ post.thumbnail.src('large') }} 1000w,
							 {{ post.thumbnail.src }} 1500w"
					 sizes="(max-width: {{ post.thumbnail.width }}px) 100vw, {{ post.thumbnail.width }}px" />
				
				<div class="feature__content fade-content wysiwyg">
					<h2 class="feature__content--title">
						<a href="{{ post.link }}">{{ post.title }}</a>
					</h2>
					<p>{{ post.post_excerpt }}</p>
					<a href="{{ post.link }}">See Project <span class="fa fa-long-arrow-right"></span></a>
				</div>
				
			</div>
			
		{% endfor %}
	</section>
	{% endif %}
	
	<section class="homepage__dribbble fade-content">
		<h2 class="homepage__dribbble--title">Latest Shots <span><a href="//dribbble.com/onemohrtime" target="_blank">on dribbble</a></span></h2>
		<p class="homepage__dribbble--content wysiwyg">
			I generally post a lot more on <a href="//dribbble.com/onemohrtime" target="_blank" rel="noreferrer">Dribbble</a> than I do here. They aren&rsquo;t full-blown projects as often, so it will be more up to date. Plus, it&rsquo;s just a cool site to hang around on.
		</p>
		<div id="dribbbles" class="dribbbles fade-content"></div>
	</section>

{% endblock %}