{% extends 'templates/base.twig' %}

{% block content %}

<div class="swiper-container">
	<div class="parallax-bg" style="background-image:url(http://lorempixel.com/900/600/nightlife/2/)" data-swiper-parallax="-23%"></div>
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="title" data-swiper-parallax="-300">Slide 1</div>
			<div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
			<div class="text" data-swiper-parallax="-100">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="title" data-swiper-parallax="-300" data-swiper-parallax-opacity="0">Slide 2</div>
			<div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
			<div class="text" data-swiper-parallax="-100">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="title" data-swiper-parallax="-300">Slide 3</div>
			<div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
			<div class="text" data-swiper-parallax="-100">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
			</div>
		</div>
	</div>
	
	<div class="swiper-pagination swiper-pagination-white"></div>
	
	<div class="swiper-button-prev swiper-button-white"></div>
	<div class="swiper-button-next swiper-button-white"></div>
</div>
	
	<figure class="homepage__banner">
		
		<img src="{{ post.thumbnail.src('thumbnail') }}"
		 alt="{{ post.thumbnail.alt }}"
		 class="homepage__banner--image"
		 srcset="<?php echo $homeHero['sizes']['medium']; ?> 800w,
				 <?php echo $homeHero['sizes']['large']; ?> 1600w,
				 <?php echo $homeHero['url']; ?> 1920w" />
		
		<figcaption class="homepage__banner--title">
			<h1 class="current-title">
				Front End
				<span class="current-title--rotating">
					<span class="rotate">designer,developer,creative</span>
				</span>
			</h1>
		</figcaption>
		
		<a href="#contact" class="homepage__banner--contact btn">
			<span class="fa fa-long-arrow-left"></span> Contact
		</a>
		
	</figure>
	
	<article class="homepage__work content-block fade-content wysiwyg">
		{{ post.title }}
		{{ post.content }}
		<a href="{{ TimberPost(638).link }}">See Featured Projects <span class="fa fa-long-arrow-right"></span></a>
	</article>
	
{% endblock %}