{% extends 'templates/base.twig' %}

{% block content %}
	
    {% for post in posts %}
	<figure id="js-parallax-window" class="gallery__banner parallax-window">
		
		<img src="{{ post.thumbnail.src('thumbnail') }}"
			 alt="{{ post.thumbnail.alt }}"
			 id="js-parallax-background"
			 class="gallery__banner--image parallax-background"
			 srcset="{{ post.thumbnail.src('medium') }} 500w,
					 {{ post.thumbnail.src('large') }} 1000w,
					 {{ post.thumbnail.src('full') }} 1500w" />
		
		<figcaption class="gallery__banner--title">
			<h2>{{ post.title }}</h2>
		</figcaption>
		
	</figure>
    {% endfor %}
	
	<section class="gallery__grid fade-content">
		<div class="gallery__grid--filter">
		</div>
		{% for item in gallery %}
		
		<div id="proj_id_{{ item.id }}" class="gallery__project mix type-{{ item.post_type }}">
			
			<div class="gallery__project--content">
				
				{% if item.get_field('project_header') %}
				<div class="gallery__project--excerpt">
					{{ item.get_field('project_header').subtitle }}
				</div>
				{% endif %}
				
				<h2 class="gallery__project--header">
					<a href="{{ item.link }}">{{ item.title }}</a>
				</h2>
				<a href="{{ item.link }}" class="gallery__project--link">See Project</a>
			</div>
			
			<img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}" class="gallery__project--image" data-speed="-0.25" />
			
		</div>
		
		{% endfor %}
	</section>
	
	{% for post in posts %}
	<article class="gallery__content fade-content wysiwyg">
		{{ post.content }}
	</article>
	{% endfor %}
	
	<section class="gallery__dribbble">
		<div id="dribbbles" class="dribbbles fade-content"></div>
	</section>
	
{% endblock %}