{% extends 'templates/base.twig' %}

{% block content %}
	
    {% for post in posts %}
	<figure id="js-parallax-window" class="gallery__banner parallax-window">
		
		<img src="{{ post.thumbnail.src('thumbnail') }}"
			 width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"
			 alt="{{ post.thumbnail.alt }}"
			 id="js-parallax-background"
			 class="gallery__banner--image parallax-background"
			 srcset="{{ post.thumbnail.src('medium') }} 500w,
					 {{ post.thumbnail.src('large') }} 1000w,
					 {{ post.thumbnail.src('full') }} 1500w" />
		
		<figcaption class="gallery__banner--title">
			<h2>{{ post.title }}</h2>
		</figcaption>
		
		<a href="#contact" class="gallery__banner--contact btn"><span class="fa fa-long-arrow-left"></span> Contact</a>
		
	</figure>
    {% endfor %}
	
	<div class="gallery__filter">
		<form class="arrays" id="featured_project_filter">
			<ul class="array array__roles" role="group" aria-labelledby="array_1">
				<li class="array__item">
					<h3 id="array_1" class="array__title">Roles</h3>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".role-designer">Designer</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".role-developer">Developer</button>
				</li>
			</ul>
			<ul class="array array__category" role="group" aria-labelledby="array_2">
				<li class="array__item">
					<h3 id="array_2" class="array__title">Job Type</h3>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".freelance">Freelance</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".agency">Agency</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".inhouse">In-house</button>
				</li>
				<li class="array__item">
					<button type="button" class="array__filter" role="button" data-toggle=".personal">Personal</button>
				</li>
			</ul>
			<button type="reset" role="button" id="reset" class="array__btn btn">Clear Filters</button>
		</form>
	</div>
	
	<section id="gallery" class="gallery__grid fade-content">
		
		{% for item in gallery %}
		
<!--		<div id="proj_id_{{ item.id }}" class="gallery__project mix type-{{ item.post_type }} {{ item.terms | join(' ') | lower }}">-->
		<div id="proj_id_{{ item.id }}" class="gallery__project mix {{ item.post_class }}">
			
			<div class="gallery__project--content">
				
				{% if item.get_field('project_header') %}
				<div class="gallery__project--excerpt">
					{{ item.get_field('project_header').subtitle }}
				</div>
				{% endif %}
				
				<h2 class="gallery__project--header">
					<a href="{{ item.link }}">{{ item.title }}</a>
				</h2>
				<a href="{{ item.link }}" class="gallery__project--link">See Project</a>
			</div>
			
			<img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}" class="gallery__project--image" data-speed="-0.25" />
			
		</div>
		
		{% endfor %}
	</section>
	
	{% for post in posts %}
	<article class="gallery__content fade-content wysiwyg">
		{{ post.content }}
	</article>
	{% endfor %}
	
	<section class="gallery__dribbble">
		<div id="dribbbles" class="dribbbles fade-content"></div>
	</section>
	
{% endblock %}