{% extends 'templates/base.twig' %}

{% block content %}
	
    {% for post in posts %}
	<figure id="js-parallax-window" class="gallery__banner parallax-window">
		
		<img src="{{ post.thumbnail.src('thumbnail') }}"
			 width="{{ post.thumbnail.width }}" height="{{ post.thumbnail.height }}"
			 alt="{{ post.thumbnail.alt }}"
			 id="js-parallax-background"
			 class="gallery__banner--image parallax-background"
			 srcset="{{ post.thumbnail.src('medium') }} 500w,
					 {{ post.thumbnail.src('large') }} 1000w,
					 {{ post.thumbnail.src('full') }} 1500w" />
		
		<figcaption class="gallery__banner--title">
			<h2>{{ post.title }}</h2>
		</figcaption>
		
		<a href="#contact" class="gallery__banner--contact btn"><span class="fa fa-long-arrow-left"></span> Contact</a>
		
	</figure>
    {% endfor %}
	
	<div class="gallery__filter">
		<form class="arrays" id="featured_project_filter">
			<fieldset class="array array__roles">
				<h3 class="array__title">Roles</h3>
				<div class="checkbox">
					<input type="checkbox" class="filter" value=".design"/>
					<label>Designer</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" class="filter" value=".development"/>
					<label>Developer</label>
				</div>
			</fieldset>
			<fieldset class="array array__category">
				<h3 class="array__title">Job Type</h3>
				<div class="checkbox">
					<input type="checkbox" class="filter" value=".freelance"/>
					<label>Freelance</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" class="filter" value=".agency"/>
					<label>Agency</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" class="filter" value=".inhouse"/>
					<label>In-house</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" class="filter" value=".personal"/>
					<label>Personal</label>
				</div>
			</fieldset>
<!--
			<fieldset class="array array__category">
				<li><button type="button" class="filter" data-toggle=".freelance">Freelance</button></li>
				<li><button type="button" class="filter" data-toggle=".agency">Agency</button></li>
				<li><button type="button" class="filter" data-toggle=".inhouse">In-house</button></li>
				<li><button type="button" class="filter" data-toggle=".personal">Personal</button></li>
			</fieldset>
-->
			<button role="button" id="reset" class="btn">Clear Filters</button>
		</form>
	</div>
<!--
<form class="controls" id="Filters">
	<fieldset>
		<h4>Shapes</h4>
		<div class="checkbox">
			<input type="checkbox" value=".square" />
			<label>Square</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" value=".circle" />
			<label>Circle</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" value=".triangle" />
			<label>Triangle</label>
		</div>
	</fieldset>

	<fieldset>
		<h4>Colours</h4>
		<div class="checkbox">
			<input type="checkbox" value=".white" />
			<label>White</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" value=".green" />
			<label>Green</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" value=".blue" />
			<label>Blue</label>
		</div>
	</fieldset>

	<fieldset>
		<h4>Sizes</h4>
		<div class="checkbox">
			<input type="checkbox" value=".sm" />
			<label>Small</label>
		</div>
		<div class="checkbox">
			<input type="checkbox" value=".lrg" />
			<label>Large</label>
		</div>
	</fieldset>

	<button id="Reset">Clear Filters</button>
</form>
-->
	
	<section id="gallery" class="gallery__grid fade-content">
		
		{% for item in gallery %}
		
		<div id="proj_id_{{ item.id }}" class="gallery__project mix type-{{ item.post_type }} {{ item.terms('category') | join(' ') | lower }}">
			
			<div class="gallery__project--content">
				
				{% if item.get_field('project_header') %}
				<div class="gallery__project--excerpt">
					{{ item.get_field('project_header').subtitle }}
				</div>
				{% endif %}
				
				<h2 class="gallery__project--header">
					<a href="{{ item.link }}">{{ item.title }}</a>
				</h2>
				<a href="{{ item.link }}" class="gallery__project--link">See Project</a>
			</div>
			
			<img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.alt }}" class="gallery__project--image" data-speed="-0.25" />
			
		</div>
		
		{% endfor %}
	</section>
	
	{% for post in posts %}
	<article class="gallery__content fade-content wysiwyg">
		{{ post.content }}
	</article>
	{% endfor %}
	
	<section class="gallery__dribbble">
		<div id="dribbbles" class="dribbbles fade-content"></div>
	</section>
	
{% endblock %}