{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/body.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}
{% set headline = post.meta('post_headline')|default(post.title) %}
{% set subheadline = post.meta('post_subheadline')|default(null) %}
{% set bannerImage = post.meta('thumbnail')|default(null) %}
{% set bannerType = post.meta('banner_type')|default('default') %}
{% set button = post.meta('banner_button')|default(null) %}

{# -- Page Templates -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <article class="o-page">

        {% include '_components/banner.twig' with {
            params: {
                headline: title,
                text: subheadline,
                style: null,
                image: null,
                button: null
            }
        } only %}

        {% if post.content is not empty %}
            <section class="c-intro" data-scroll-trigger>
                <div class="u-wysiwyg">
                    {{ post.content }}
                </div>
            </section>
        {% endif %}

        {# {{ parent() }} #}
        <section class="c-blog">
            {% for post in posts %}
                <div class="c-blog__post">

                    {% if post.thumbnail %}
                        {% include '_elements/picture.twig' with {
                            params: {
                                src: get_image(post.thumbnail),
                                ratio: '4:3',
                                classes: 'c-member__logo'
                            }
                        } only %}

                    {% else %}
                        <picture class="c-media u-ratio u-16:9">
                            <img src="https://michiganciders.com/wp-content/themes/pomich/assets/img/placeholder.png" alt="placeholder image" class="c-media__image" />
                        </picture>

                    {% endif %}

                    <div class="u-wysiwyg">
                        <h3 class="u-heading">
                            <a href="{{ post.link }}" title="{{ post.post_headline|default(post.title) }}" class="u-link">{{ post.post_headline|default(post.title) }}</a>
                        </h3>
                        <time datetime="{{ post.date|date('c') }}">Posted on {{ post.date }}</time>
                        <p>{{ post.content|excerpt(40) }}</p>
                        {# <p>{{ post.content|striptags|slice(0, 160) }}{{ post.content|length > 160 ? '...' : '' }}</p> #}
                        {# <p>{{ post.content|truncate(40) }}</p> #}
                    </div>

                </div>
            {% endfor %}
        </section>

        {% include '_components/pagination.twig' with {
            params: {
                pagination: pagination
            }
        } %}

    </article>

    {# Sidebar #}
    {% include '_partials/sidebar.twig' with {
        params: {
            widgets: sidebar
        }
    } only %}

{% endblock %}
