{# -- Component Variables -- #}

{% set this = {
    headline: params.headline|default(''),
    subheadline: params.text|default(null),
    type: params.style|default('default'),
    image: params.image|default(null),
    images: params.images|default(null),
    video: params.video|default(null),
    button: params.button|default(null),
} %}

{# -- Component Template -- #}

<section class="c-banner is-{{ this.type }}{% if this.type == 'default' and this.image is empty %} no-image{% endif %}{% if this.type == 'video' %} u-ratio u-16:9{% endif %}" data-scroll-trigger>

    <div class="c-banner__text">

        <h1 class="u-title">{{ this.headline }}</h1>

        {% if this.subheadline %}
            <strong class="u-eyebrow">{{ this.subheadline }}</strong>
        {% endif %}

        {% if this.button %}
            {% include '_elements/button.twig' with {
                params: {
                    url: this.button.url,
                    text: this.button.title,
                    target: this.button.target
                }
            } only %}
        {% endif %}
    </div>

    <figure class="c-banner__media">
    {% switch this.type %}

        {% case 'video' %}
            {% include '_elements/video.twig' with {
                params: {
                    video: this.video
                }
            } only %}

        {% case 'stacked' %}
            {% include '_elements/picture.twig' with {
                params: {
                    src: this.image
                }
            } only %}

        {% case 'slides' %}
            <div class="swiper is-cards" data-module-swiper-banner>
                <div class="swiper-wrapper">
                    {% for image in this.images %}
                        <div class="swiper-slide">
                            {% set image = get_image(image) %}
                            {% include '_elements/picture.twig' with {
                                params: {
                                    src: image,
                                    ratio: '16:9',
                                    sizes: '(min-width: 900px) 50vw, 85vw'
                                }
                            } only %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-scrollbar"></div>
                <div class="swiper-controls">
                    <button class="c-button is-prev">
                        <span class="u-screen-reader-text">Previous</span>
                        {{ source('_elements/svg/arrow-left.svg') }}
                    </button>
                    <button class="c-button is-next">
                        <span class="u-screen-reader-text">Next</span>
                        {{ source('_elements/svg/arrow-right.svg') }}
                    </button>
                </div>
            </div>

        {% default %}
            {% if this.image is not empty %}
                {% set renderedImage = get_image(this.image) %}
                {% include '_elements/picture.twig' with {
                    params: {
                        src: renderedImage,
                        ratio: (this.address or this.logo) ? '16:9' : '4:3'
                    }
                } only %}
            {% endif %}

    {% endswitch %}
    </figure>

</section>
