{# -- Component Variables -- #}

{% set this = {
    style: style|default('posts'),
    list: params.items|default(null)
} %}

{# -- Component Template -- #}

<ul class="c-list">

    {% for item in this.list %}
        {# Eyebrow Subtitles #}
        {% switch this.style %}
            {% case 'design' %}
                {% set eyebrow = get_post(item).post_subheadline ?? item.post_excerpt|truncate(10) %}
                {% set heading = item.title %}
            {% case 'travel' %}
                {% set eyebrow = get_post(item).post_subheadline %}
                {% set heading = get_post(item).post_headline|default(get_post(item).title) %}
            {% case 'modeling' %}
                {% set eyebrow = get_post(item).date('Y') %}
                {% set heading = get_post(item).post_headline|default(get_post(item).title) %}
            {% case 'search' %}
                {% set eyebrow = item.post_type %}
                {% set heading = item.title %}
            {% default %}
                {% set eyebrow = item.date('Y/m/d')|time_ago %}
                {% set heading = item.title %}
        {% endswitch %}

        <li class="c-list__item" data-scroll-trigger>

            {% include '_elements/picture.twig' with {
                params: {
                    src: item.banner_image|default(item.thumbnail),
                    ratio: '1:1',
                    sizes: '(min-width: 900px) 20vw, 25vw'
                }
            } only %}

            <div class="u-wysiwyg">
                <strong class="u-eyebrow">{{ eyebrow }}</strong>
                {% if this.style == 'travel' %}
                    <h3 class="u-heading">{{ heading }}</h3>
                {% else %}
                    <h2 class="u-headline">{{ heading }}</h2>
                {% endif %}
            </div>

            <a href="{{ get_post(item).link ?? item.link }}" class="c-list__item-link" aria-label="Learn More">
                {{ source('_elements/svg/arrow-right.svg') }}
            </a>

        </li>

    {% endfor %}

</ul>
