{# -- Component Variables -- #}

{% set this = {
    eyebrow: params.eyebrow,
    headline: params.heading,
    text: params.text,
    button: params.button ?? null,
    image1: params.media.large,
    image2: params.media.small,
    isReverse: params.alignment|default(false),
} %}

{# -- Component Template -- #}
<div class="c-textMedia{{ this.isReverse }}">

    <div class="c-textMedia__text" data-scroll-trigger>
        {% if this.eyebrow %}
            <strong class="u-eyebrow">{{ this.eyebrow }}</strong>
        {% endif %}
        {% if this.headline %}
            <h2 id="{{ this.headline|sanitize|slice(0, 24) }}" class="u-subheadline">{{ this.headline }}</h2>
        {% endif %}
        {% if this.text %}
            <div class="u-wysiwyg">
                {{ this.text }}
            </div>
        {% endif %}
        {% if this.button %}
            {% include '_elements/button.twig' with {
                params: {
                    url: text.button.url,
                    text: text.button.title,
                    target: text.button.target
                }
            } only %}
        {% endif %}
    </div>

    <figure class="c-textMedia__media is-double">
        {% include '_elements/picture.twig' with {
            params: {
                src: get_image(this.image1),
                ratio: '3:2'
            }
        } only %}
        {% include '_elements/picture.twig' with {
            params: {
                src: get_image(this.image2)
            }
        } only %}
    </figure>

</div>
