{% set loopClass = loop.index is even ? ' -isEven' : ' -isOdd' ?? null %}
{% set postType  = post.type.slug ?? 'default' %}

<article class="article js-article -{{ postType }}{{ loopClass }}{% for term in post.terms %} {{ term.taxonomy|lower|replace({' ': '-', '/': '-'}) }}-{{ term.name|lower|replace({' ': '-', '/': '-'}) }}{% endfor %}" id="post-{{ post.id }}">
	<figure class="article__image">

		{% if post.thumbnail %}
			<img src="{{ post.thumbnail.src('thumbnail') }}"
				alt="{{ post.thumbnail.alt }}"
				class="_image{% if postType == 'design' %} -parallax{% endif %}"
				srcset="{{ post.thumbnail.src('medium') }} 750w,
						{{ post.thumbnail.src('large') }} 1500w"
				sizes="(max-width: 840px) 100vw, 50vw" />

		{% else %}
			<img src="{{ theme.link }}/assets/img/placeholder.png" alt="placeholder image" class="_image{% if postType == 'design' %} -parallax{% endif %}" />

		{% endif %}
	</figure>

	<div class="article__content _wysiwyg get-faded">

		{% if postType == 'design' %}
			<p class="_meta -wysiwyg">{{ post.get_field('project_header').subtitle }}</p>
		{% elseif postType == 'page' %}
			<p class="_meta -wysiwyg">{{ post.post_excerpt|truncate(16) }}</p>
		{% else %}
			{% include "components/entry-meta.twig" %}
		{% endif %}

		<h2 id="{{ post.title|lower|replace({' ': '-', '/': '-'}) }}" class="article__title">
			<a href="{{ post.link }}" tabindex="-1">{{ post.title }}</a>
		</h2>

		{% if post.post_excerpt is defined and post.post_excerpt is not empty %}
			<p>{{ post.post_excerpt }}</p>
		{% else %}
			<p>{{ post.post_content|striptags|raw|truncate(30) }}[&hellip;]</p>
		{% endif %}

		<a href="{{ post.link }}" class="article__link _button">View {{ post.title }}</a>
	</div>
</article>
