{% set this = {
	type: params.type ?? null,
	headline: params.headline[0] ?? params.headline ?? null,
	subheadline: params.subheadline ?? null,
	excerpt: params.excerpt ?? null,
	text: params.text ?? null,
	image: params.image ?? null,
	anchor: params.anchor ?? null,
	link: params.link ?? null,
	oddEven: params.oddEven ?? null
} %}

{# <article class="c-article js-article -{{ this.type|default('default') }}{{ this.oddEven|default(null) }}{% for term in post.terms %} {{ term.taxonomy|lower|replace({' ': '-', '/': '-'}) }}-{{ term.name|lower|replace({' ': '-', '/': '-'}) }}{% endfor %}" id="post-{{ post.id }}"> #}
<article class="c-article js-article -{{ this.type|default('default') }}{{ this.oddEven|default(null) }}" id="post-{{ post.id }}">

	<figure class="c-article__image">
		{% include 'components/picture.twig' with {
			params: {
				src: this.image,
				classes: 'u-parallax'
			}
		} only %}
	</figure>

	<div class="c-article__content u-get-faded">

		{% include 'components/entry-meta.twig' with {
			params: {
				meta: this.subheadline ?? null
			}
		} only %}

		<h2{% if this.anchor %} id="{{ this.anchor|lower|replace({' ': '-', '/': '-'}) }}"{% endif %} class="c-article__title">{{ this.headline }}</h2>

		<div class="c-article__text c-wysiwyg">
			{% if this.excerpt %}
				{{ this.text }}
			{% else %}
				{{ this.text|striptags|raw|truncate(30) }} [&hellip;]
			{% endif %}
		</div>

		{# <a href="{{ post.link }}" class="c-article__link c-button" aria-label="View {{ post.title }}">View {{ post.type.slug ?? 'Post' }}</a> #}
		<a href="{{ this.link }}" class="c-article__link c-button">Read More</a>
	</div>
</article>
