{# -- Component Variables -- #}

{% set this = {
	type: params.type ?? null,
	format: params.format ?? null,
	headline: params.headline[0] ?? params.headline ?? null,
	subheadline: params.subheadline ?? null,
	excerpt: params.excerpt ?? null,
	text: params.text ?? null,
	image: params.image ?? null,
	anchor: params.anchor ?? null,
	link: params.link ?? null,
	oddEven: params.oddEven ?? null
} %}

{# -- Component Template -- #}

{# <article class="c-article js-article -{{ this.type|default('default') }}{{ this.oddEven|default(null) }}{% for term in post.terms %} {{ term.taxonomy|lower|replace({' ': '-', '/': '-'}) }}-{{ term.name|lower|replace({' ': '-', '/': '-'}) }}{% endfor %}" id="post-{{ post.id }}"> #}
<article class="c-article js-article -{{ this.type|default('default') }}{{ this.oddEven|default(null) }}">

	<figure class="c-article__image">
		{% include 'components/picture.twig' with {
			params: {
				src: this.image,
				classes: 'u-parallax'
			}
		} only %}
	</figure>

	<div class="c-article__content u-get-faded">

		{% include 'components/entry-meta.twig' with {
			params: {
				type: this.type,
				format: this.format,
				meta: this.subheadline
			}
		} only %}

		<h2{% if this.anchor %} id="{{ this.anchor|lower|replace({' ': '-', '/': '-'}) }}"{% endif %} class="c-article__title">{{ this.headline }}</h2>

		{% if this.excerpt or this.text %}
			<div class="c-article__text c-wysiwyg">
				{% if this.excerpt %}
					{{ this.excerpt }}
				{% elseif this.text %}
					{{ this.text|striptags|raw|truncate(30) }} [&hellip;]
				{% else %}
					{# silence #}
				{% endif %}
			</div>
		{% endif %}

		<a href="{{ this.link.url|default(this.link) }}"{% if this.link.target is defined and this.link.target == '_blank' %} target="_blank"{% endif %} class="c-article__link c-button">{{ this.link.title|default('Read More') }}</a>
	</div>
</article>
