{##
 # "First posted" if over 5 years ago, "Posted" if less
 # "Last updated" if over 5 years ago, "Updated" if less
 #}

<p class="_meta _wysiwyg">
	<time class="original" datetime="{{ post.post_date|date(c) }}">{% if ((post.post_date_gmt|time_ago) > '5 years') and (post.slug != 'blog') %}Originally p{% else %}P{% endif %}osted {% if (post.post_date_gmt|time_ago) > '5 years' %}around {% endif %}{{ post.post_date_gmt|time_ago }}</time>
	{% if (post.post_date_gmt|time_ago) < '5 years' %}
		<time class="updated" datetime="{{ post.modified_date|date(c) }}">Updated {{ post.modified_date | time_ago }}</time>
	{% endif %}
	<span class="post-format">
		{% if post.format is defined and post.format != false %}
			{% include '/assets/img/icons/post-' ~ post.format ~'.svg' %}
			{{ post.format|capitalize }}
		{% else %}
			{% include '/assets/img/icons/post-standard.svg' %}
			Standard
		{% endif %}
	</span>
	<span class="byline author vcard screen-reader-text"> | {{ __('', 'onemohrtime') }} <a href="{{ post.author.path }}" rel="author" class="fn">{{ post.author.name }}</a></span>
</p>
