{% if menu %}

<nav id="primary_nav" class="c-navigation">
	<ul id="desktop_menu" class="menu">

		{% for item in menu %}
		<li class="menu-item">

			{% if item.children %}
				<a href="{{ item.get_link }}" class="nav-link">
					{{ item.title }}
				</a>

			{% else %}
				<a href="{{ item.get_link }}" class="nav-link">
					{{ item.title }}
				</a>

			{% endif %}

			{% if item.children %}
				<ul id="primary__sub-{{ item.id }}" class="submenu">

					{% for submenu in item.children %}
						<li class="submenu-item{{ submenu.classes|join(' ') }}">
							<a href="{{ submenu.get_link }}" class="nav-link">
								{{ submenu.title }}
							</a>
						</li>
					{% endfor %}

				</ul>
			{% endif %}

		</li>
		{% endfor %}

	</ul>
</nav>

{% endif %}
