<ul class="pagination">
	{% if posts.pagination.prev %}
		<li class="pagination__item -first">
			<a href="{{ posts.pagination.prev.link }}" class="pagination__link _button">Prev</a>
		</li>
	{% endif %}
	{% for page in posts.pagination.pages %}
		<li class="pagination__item -child{{ loop.index }}">
			{% if page.link %}
				<a href="{{ page.link }}" class="pagination__link _button">{{ page.title }}</a>
			{% else %}
				<span class="pagination__current _button">{{ page.title }}</span>
			{% endif %}
		</li>
	{% endfor %}
	{% if posts.pagination.next %}
		<li class="pagination__item -last">
			<a href="{{ posts.pagination.next.link }}" class="pagination__link _button">Next</a>
		</li>
	{% endif %}
</ul>
