{# -- Component Variables -- #}

{# -- Component Template -- #}

<nav class="c-relatedPosts">
	{% for project in related %}
		{% set project = Post(project.related_post) %}

		<div class="c-card">
			<h3 class="c-card__headline">{{ project.heading_headline|default(project.title) }}</h3>
			{# <h3 class="c-card__headline">
				{% include 'components/title.twig' with {
					title: project.heading_headline|default(project.title)
				} only %}
			</h3> #}

			{% if project.post_excerpt %}
				<p>{{ project.post_excerpt }}</p>
			{% else %}
				<p>{{ project.content|striptags|slice(0, 255) }}&hellip;</p>
			{% endif %}

			<figure class="c-card__image">
				{% if project.thumbnail %}
					<img src="{{ project.thumbnail.src('thumbnail') }}"
						alt="{{ alt }}"
						class="_image"
						srcset="{{ project.thumbnail.src('medium') }} 1000w,
								{{ project.thumbnail.src('large') }} 1500w" />
				{% else %}
					<img src="{{ site.theme.link }}/assets/img/placeholder.png" alt="placeholder image" class="_image">
				{% endif %}
			</figure>

			{% if project.link %}
				<a href="{{ project.link }}" class="c-card__link">
					<span>View {{ project.title }}</span>
				</a>
			{% endif %}
		</div>

	{% endfor %}
</nav>
