{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/body.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}
{% set headline = post.meta('post_headline')|default(post.title) %}
{% set subheadline = post.meta('post_subheadline')|default(null) %}
{% set buttons = post.meta('homepage_buttons')|default(null) %}
{% set services = post.meta('homepage_services')|default(null) %}
{% set proposal = post.meta('homepage_proposal')|default(null) %}
{% set gallery = post.meta('homepage_gallery')|default(null) %}
{% set offerings = post.meta('homepage_offerings')|default(null) %}
{% set caseStudies = post.meta('homepage_projects')|default(null) %}
{% set travel = post.meta('homepage_travel')|default(null) %}

{# -- Page Template -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <article class="o-page" data-module-scroll>

        <section class="c-banner is-homepage">
            <div class="c-banner__heading">
                <strong class="u-tagline js-home-tagline" data-module-change-text data-text="{{ subheadline }}" aria-label="{{ subheadline }}">Hello There!</strong>
                <h1 class="u-title js-home-headline" data-module-change-text>{{ headline }}</h1>
                <div class="c-button-group" data-scroll-trigger>
                    {% for button in buttons %}
                        {% if button %}
                            {% include '_elements/button.twig' with {
                                params: {
                                    url: button.url,
                                    text: button.title,
                                    target: button.target
                                }
                            } only %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="o-section is-text-media is-services">
            <div class="c-textMedia is-reversed">
                <div class="c-textMedia__text" data-scroll-trigger>
                    {% if services.headline %}
                        <h2 class="u-subheadline">{{ services.headline }}</h2>
                    {% endif %}
                    {% if services.text %}
                        <div class="u-wysiwyg">
                            {{ services.text }}
                        </div>
                    {% endif %}
                    {% if services.button %}
                        {% include '_elements/button.twig' with {
                            params: {
                                url: services.button.url,
                                text: services.button.title,
                                target: services.button.target,
                            }
                        } only %}
                    {% endif %}
                </div>
                <figure class="c-textMedia__media">
                    {% for item in services.services %}
                        <a href="{{ item.page_link }}" style="background-image: url({{ get_image(item.background_image).src('large') }});" data-scroll-trigger>
                            <h3 class="u-subheadline">{{ item.heading }}</h3>
                        </a>
                    {% endfor %}
                </figure>
            </div>
        </section>

        <section class="o-section is-gallery">
            {% set galleryColumns = gallery|length %}
            <ul class="c-grid has-{{ galleryColumns|replace({'3':'three', '4':'four', '5':'five'}) }}-columns" data-scroll-trigger>
                {% for image in gallery %}
                    <li class="c-grid__item">
                        {% include '_elements/picture.twig' with {
                            params: {
                                src: image,
                                ratio: '1:1'
                            }
                        } only %}
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="o-section is-text-media is-proposal">
            <div class="c-textMedia" data-scroll-trigger>
                <div class="c-textMedia__text">
                    {% if proposal.headline %}
                        <h2 class="u-subheadline">{{ proposal.headline }}</h2>
                    {% endif %}
                    {% if proposal.text %}
                        <div class="u-wysiwyg">
                            {{ proposal.text }}
                        </div>
                    {% endif %}
                    {% if proposal.button_1 %}
                        <div class="c-button-group" data-scroll-trigger>
                            {% include '_elements/button.twig' with {
                                params: {
                                    url: proposal.button_1.url,
                                    text: proposal.button_1.title,
                                    target: proposal.button_1.target,
                                }
                            } only %}
                            {% if proposal.button_2 %}
                            {% include '_elements/button.twig' with {
                                params: {
                                    url: proposal.button_2.url,
                                    text: proposal.button_2.title,
                                    target: proposal.button_2.target,
                                }
                            } only %}
                            {% endif %}
                            {% if proposal.button_3 %}
                            {% include '_elements/button.twig' with {
                                params: {
                                    url: proposal.button_3.url,
                                    text: proposal.button_3.title,
                                    target: proposal.button_3.target,
                                }
                            } only %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <figure class="c-textMedia__media">
                    {% include '_elements/picture.twig' with {
                        params: {
                            src: proposal.image,
                            ratio: '4:3'
                        }
                    } only %}
                </figure>
            </div>
        </section>

        <section class="o-section is-shop">
            {% include '_components/marquee.twig' %}
        </section>

        <section class="o-section is-offerings">
            <h2 class="u-headline">{{ offerings.headline }}</h2>
            <div class="swiper is-cards" data-module-swiper-cards>
                <ul class="c-grid has-four-columns swiper-wrapper" data-card-length="4">
                    {% for service in offerings.offerings %}
                        <li class="c-grid__item swiper-slide">
                            <a href="{{ service.page_link }}" class="c-card">
                                <h3 class="u-heading">{{ service.headline }}</h3>
                                <div class="u-wysiwyg">
                                    {{ service.text }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
        </section>

        <section class="o-section is-social-feed" data-scroll-trigger>
            <div class="u-wysiwyg" data-scroll-trigger>
                {{ post.content }}
            </div>
            <figure class="c-instagram">
                {% apply shortcodes %}
                    [instagram-feed feed=1]
                {% endapply %}
            </figure>
        </section>

        <section class="o-section is-text-media is-case-studies">
            <figure class="c-gallery" data-module-fancybox>
                <div class="swiper is-home" data-module-swiper-gallery>
                    <div class="swiper-controls" data-scroll-trigger>
                        <button class="c-button c-button--small is-prev">
                            <span class="u-screen-reader-text">Previous</span>
                            {{ source('_elements/svg/arrow-left.svg') }}
                        </button>
                        <h2 class="u-headline">Case Studies</h2>
                        <button class="c-button c-button--small is-next">
                            <span class="u-screen-reader-text">Next</span>
                            {{ source('_elements/svg/arrow-right.svg') }}
                        </button>
                    </div>
                    <ul class="swiper-wrapper">
                        {% for row in caseStudies %}
                        <li class="swiper-slide">
                            {% set caseStudy = get_post(row) %}
                            {% include '_components/text-media.twig' with {
                                params: {
                                    eyebrow: caseStudy.meta('post_subheadline')|default(null),
                                    headline: caseStudy.meta('post_headline')|default(caseStudy.title),
                                    text: caseStudy.excerpt|default(null),
                                    button: {
                                        url: caseStudy.link,
                                        title: 'Read Case Study',
                                    },
                                    media: {
                                        image: caseStudy.meta('banner_image'),
                                    },
                                    mediaType: 'default',
                                    alignment: ' is-reversed',
                                }
                            } only %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </figure>
            <aside class="c-button-group" data-scroll-trigger>
                {% include '_elements/button.twig' with {
                    params: {
                        url: '/design',
                        text: 'View All Projects',
                        primary: true,
                        classes: 'c-button--large'
                    }
                } only %}
            </aside>
        </section>

        <section class="o-section is-contact">
            {% include '_components/cta.twig' with {
                params: {
                    headline: 'Get In Touch',
                    text: '<p>Looking to work on something? A brand refresh? A new website? An interview or podcast episode? A new logo?</p>',
                    button: {
                        url: '/contact',
                        title: 'Contact Me'
                    },
                }
            } only %}
        </section>

        <section class="o-section is-text-media is-travel">
            <div class="c-textMedia" data-scroll-trigger>
                <div class="c-textMedia__text">
                    {% if travel.headline %}
                        <h2 class="u-subheadline">{{ travel.headline }}</h2>
                    {% endif %}
                    {% if travel.text %}
                        <div class="u-wysiwyg">
                            {{ travel.text }}
                        </div>
                    {% endif %}
                    {% if travel.button %}
                        {% include '_elements/button.twig' with {
                            params: {
                                url: travel.button.url,
                                text: travel.button.title,
                                target: travel.button.target,
                            }
                        } only %}
                    {% endif %}
                </div>
                <figure class="c-textMedia__media">
                    {% set mediaCaption = this.media.image.caption ?? null %}
                    {% include '_elements/picture.twig' with {
                        params: {
                            src: travel.image,
                            ratio: '4:3'
                        }
                    } only %}
                    {% if mediaCaption %}
                        <figcaption class="c-caption">
                            {{ mediaCaption }}
                        </figcaption>
                    {% endif %}
                </figure>
            </div>
        </section>

        <section class="o-section is-shop">
            {% include '_components/marquee.twig' %}
        </section>

    </article>

{% endblock %}
